<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="client/common/template">
<head>

</head>
<body>
	<div class="container">
		<div class="copy-left">
		<p style="margin: 6pt 0cm 0.0001pt; text-align: justify;"></p>
		<table style="text-align: justify;">
			<td style="border: 1px solid #c00000; background-color: #dbe5f1;">
			<div style="text-align: center;">
				<p style="color: #0070c0;"> WELCOME TO ICSSE 2017 </p>
				</div>
				
				<div style="margin:15px 5px 5px ">
				<p align="justify">&nbsp;&nbsp;System Science and Engineering has emerged as a research field that covers a wide spectrum of modern technology. A system can be considered as a collection of entities and their interrelationships gathered together to form a whole greater than the sum of the entities. It also involves people, organizations, cultures, activities and interrelationships among them. While systems composed of autonomous subsystems are not new, increased data density, connectivity and ubiquitous computational resources have increased their interdependence and interaction complexity. This has in turn made the already difficult job of planning, developing and deploying complex systems even more difficult.</p>
				</div>
				<div style="margin:15px 5px 5px">
				<p align="justify">&nbsp;&nbsp;Technology advancement not only provides opportunities for improving system capabilities but also introduces development risks that must be weighed and managed. Thus, it is our goal to bring together scholars from all areas to have a forum to discuss, demonstrate and exchange research ideas in the scope of system science and engineering. </p>
				</div>
				<div style="margin:15px 5px 5px">
				<p align="justify">&nbsp;&nbsp;The International Conference on System Science and Engineering 2017 (ICSSE 2017) is an international conference that will take place in Ho Chi Minh City during July 21-23, 2017. This event will provide a great opportunity for scientists, engineers, and practitioners from all over the world to present the latest system design concepts, research results, developments and applications, as well as to facilitate interactions between scholars and practitioners. ICSSE 2017 will feature plenary speeches in emerging technology topics given by world renowned scholars. The proceedings of ICSSE 2017 will be published by the IEEE with EI indexing. In addition, selected high-quality papers will be published by special issues of SCI-indexed journals. </p>
				</div>
			</td>


		</table>
		</div>
	</div>
</body>
</html>